@{
    ViewBag.Title = "Информация";
}
<h2>@ViewBag.Title.</h2>

<p>Представте, что вы видите здесь подробное описание нашего сервиса.
    А так же пошаговые подробные инструкции использования всех функций и ещё многое другое</p>
