@{
    ViewBag.Title = "Связаться";
}
<h2>@ViewBag.Title.</h2>

<address>
    Пишите заявки на получение прав<br />
    На деревню к дедушке<br />
    <abbr title="Phone">Телефон</abbr>
    420-69-69
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Реклама:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>